Welcome to Secret Santa!!!
    <body style="background-color:red;">
      <font size="3" color="white">
<h2>Sign in to play secret santa</h2>
<img src=https://comps.canstockphoto.com/secret-santa-vector-clip-art_csp32765315.jpg">
<form action="/names" method="post">

  <label>
    name
    <input type="text" name="name">

  </label>

   <label>
     email
    <input type="text" name="email">
  </label>
 <input type="submit" value="Submit">
</form>
</font>
